@font-face {
    font-family: gothic;
    src: url('../fonts/gothic.TTF');
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.main-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__logo img {
    max-width: 100%;
    width: 100%;
}

.main-cities a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 29px;
    font-family: gothic;
    color: rgba(0, 0, 0, 0.7);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.31);
    padding: 3px;
    font-size: 20px;
    line-height: 22px;
}

.main-cities a:hover {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.7);

}

.main-cities a img {
    /* margin-right: 3px; */
    max-width: 26px;
    flex: 0 0 26px;
}

.main-cities span {
    padding-left: 3px;
    max-width: calc(100% - 26px);
    /* flex: 0 0 calc(100% - 26px); */
}

.main-cities a:last-child {
    margin-bottom: 0;
}

.scrollbox {
    overflow: auto;
    padding: 50px 15px;
}

/* STATIC PAGE */

.header {
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    z-index: 2;
    position: relative;
}

.header__phone>img {
    width: 30px;
    margin-right: 10px;
}

.header__phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__phone a {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.header__phone a:hover {
    opacity: .7;
    text-decoration: none;
}

.header__sign {
    text-align: right;
    padding-right: 25px;
    margin-bottom: 24px;
}


.header__reg,
.header__enter {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    margin-right: 25px;
}

.header__reg img,
.header__enter img {
    width: 30px;
    margin-right: 6px;
}

.header__reg:hover,
.header__enter:hover {
    color: #000;
    text-decoration: none;
    opacity: .7;
}

header .linkpic {
    margin-bottom: 30px;
    display: block;
    text-align: right;
}

header .linkpic img {
    max-width: 100%;
}

.city-logo {
    margin-bottom: 30px;
}

.city-logo img {
    max-width: 100%;
}

header .submitanad {
    display: inline-block;
    text-align: center;
    max-width: 320px;
    width: 100%;
    background: #FF0000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    min-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

header .submitanad:hover {
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__menu {
    text-align: right;
}

.header__menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}

.header__menu ul li {
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.header__menu ul li:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 30px;
    background: rgba(120, 120, 120, 0.4);
    right: -3px;
    top: 0px;
}

.header__menu ul li:last-child:after {
    display: none;
}

.header__menu ul li a {
    margin: 0 7px;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    min-height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header__menu ul li a:hover {
    text-decoration: none;
    opacity: .6;
}


.leftsb__search {
    position: relative;
    margin-bottom: 16px;
}

.leftsb__search input[type="text"] {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 5px;
    height: 30px;
    padding-left: 9px;
    padding-right: 30px;
    outline: none;
}

.leftsb__search input[type="text"],
.leftsb__search input[type="text"]::placeholder {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
}


.leftsb__search input[type="submit"] {
    background-image: url('../images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    border: none;
    outline: none;
    position: absolute;
    right: 2px;
    top: 2px;
    padding: 0;
    height: 26px;
    width: 26px;
    background-color: #fff;
}

.leftsb__category>ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 24px 0;
}

.leftsb__category ul li p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    margin: 0;
    cursor: pointer;
}

.leftsb__category ul li span {
    flex: 0 0 20px;
    max-width: 20px;
}

.leftsb__category ul li span img {
    width: 100%;
}

.leftsb__category ul li text {
    /* flex: 0 0 calc(100% - 20px); */
    max-width: calc(100% - 20px);
    padding-left: 10px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.leftsb__category ul li p:hover {
    text-decoration: none;
    opacity: .6;
}

.general-piclink {
    display: inline-block;
}

.general-piclink img {
    max-width: 100%;
}

.rightsb .general-piclink {
    margin-bottom: 30px;
}

.vitrcontent p {
    color: #000;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 15px 0;
}

.vitrcontent h4 {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 15px 0;
    color: #000000;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.footer {
    padding: 34px 0 25px 0;
}

.footer p {
    margin: 0 0 5px 0;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 141.4%;
}

.vitrcont-text {
    position: relative;
    padding-top: 8px;
}

.vitrcont-text:after {
    content: '';
    display: inline-block;
    width: 1px;
    background: rgba(120, 120, 120, 0.4);
    position: absolute;
    left: -14px;
    top: 0;
    height: 100%;
}

.vitrynapage-wrapper {
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.whitebg {
    background-color: #fff;
    padding-top: 20px;
}

.burger-icon,
.header__menu ul li a span,
.leftsb__categoryphonebtn {
    display: none;
}

/* ОГОЛОШЕННЯ */
.ogoloshenniapage-wrapper {
    background-color: #E6E6E6;
}

.bredcrumbs {
    margin-bottom: 25px;
}

.bredcrumbs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bredcrumbs ul li {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: #666666;
}

.bredcrumbs ul li a {
    color: #666666;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    vertical-align: middle;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.bredcrumbs ul li a:hover {
    color: #ff0303;
}

.bredcrumbs ul li a img {
    width: 14px;
}

.bredcrumbs ul li:after {
    content: '/';
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    margin-left: 5px;
}

.bredcrumbs ul li:last-child:after {
    display: none;
}

.slider-section .slick-slide {
    outline: none;
}

.slider-section .slick-arrow {
    width: 27px;
    height: 42px;
    outline: none !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 2;
    border: none;
    background-color: transparent;
    padding: 0;
}

.slider-section .slick-prev {
    background-image: url('../images/prev-arrow.svg');
    left: 10px;
}

.slider-section .slick-next {
    background-image: url('../images/next-arrow.svg');
    right: 10px;
}

.slider-section .slick-slide img {
    width: 100%;
}

.slider-section .slider-for {
    margin-bottom: 20px;
}

.slider-section .slider-nav .slick-slide {
    padding: 0 5px;
}

.slider-section .slider-nav .slick-list {
    margin-left: -5px;
    width: calc(100% + 10px);
}

.slider-section .slider-nav .slick-slide {
    cursor: pointer;
}

.slider-section {
    margin-bottom: 15px;
}

.full-description {
    margin-bottom: 40px;
}

.full-description p {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin: 0 0 15px 0;
}

.og-leftsect .general-piclink {
    margin-bottom: 30px;
    display: block;
}

.og-leftsect .general-piclink img {
    width: 100%;
}

.advert-recomended .title {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 18px 0;
}

.advrec-block {
    display: flex;
    flex-wrap: nowrap;
}

.advrec-block__pic {
    max-width: 145px;
    flex: 0 0 145px;
    -ms-flex: 0 0 145px;
    height: 130px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.advrec-block__pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.advrec-block__descr {
    max-width: calc(100% - 145px);
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    padding-left: 29px;
    display: inline-block;
    width: 100%;
}

.advrec__title {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.advrec__price {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #FF0000;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.advrec__descr {
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 13px 0;
}

.advrec__info-time {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.advrec__info-place {
    display: inline-block;
    vertical-align: middle;
}

.advrec__info-time img {
    vertical-align: middle;
    width: 12px;
    margin-right: 1px;
}

.advrec__info-time span,
.advrec__info-place span {
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.advrec__info-place img {
    width: 9px;
    vertical-align: middle;
}

.advrec__bottsect {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advrec__bottsect .advrec__bottsect-left {
    max-width: 60%;
    flex: 0 0 60%;
}

.advrec__bottsect .advrec__bottsect-right {
    max-width: 40%;
    flex: 0 0 40%;
}

.advrec__bottsect .advrec__bottsect-left img {
    width: 20px;
    vertical-align: middle;
}

.advrec__bottsect .advrec__bottsect-left span {
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.advrec__bottsect .advrec__bottsect-right a {
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.advrec__bottsect .advrec__bottsect-right a:hover {
    opacity: .6;
}

.advrec-box {
    padding-bottom: 14px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(120, 120, 120, 0.4);
}

.advrec-boxes .advrec-box:first-child {
    padding-top: 0;
}

.advrec-boxes .advrec-box:last-child {
    border: none;
}

.ogprod-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 9px 0;
}

.ogprod-price {
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FF0000;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 14px 0;
}

.ogprod-info__time {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.ogprod-info__time img {
    width: 12px;
    vertical-align: middle;
}

.ogprod-info__time span,
.ogprod-info__place span {
    font-size: 13px;
    line-height: 20px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: middle;
}

.ogprod-info__place {
    display: inline-block;
    vertical-align: middle;
}

.ogprod-info__place img {
    width: 9px;
    vertical-align: middle;
}

.ogprod-info__num {
    margin: 3px 0 0 0;
    font-size: 13px;
    line-height: 20px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
}

.ogprod-info {
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(120, 120, 120, 0.4);
}

.phonesbox ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.phonesbox ul li a {
    position: relative;
    padding-left: 35px;
    display: flex;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    min-height: 25px;
}

.phonesbox ul li a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 25px;
    height: 25px;
    background-image: url('../images/phone-icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.ogprod__authorcont {
    padding: 20px 0;
}

.ogprod__authorcont-phones {
    display: flex;
    margin-bottom: 17px;
}

.ogprod__authorcont-phones .phonesbox {
    max-width: 180px;
    flex: 0 0 180px;
}

.ogprod__authorcont-phones .socbox {
    max-width: calc(100% - 180px);
    /* flex: 0 0 calc(100% - 180px); */
}

.phonesbox ul li:not(:last-child) {
    margin-bottom: 6px;
}

.ogprod__authorcont-phones .socbox a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.ogprod__authorcont-phones .socbox a img {
    width: 25px;
}

.ogprod__authorcont img {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.ogprod__authorcont span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
}

.ogprod__authorcont a {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

.ogprod__small-descr .title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: inline-block;
}

.ogprod__small-descr .descr {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.og-rightsect .general-piclink {
    margin-top: 28px;
}

.og-rightsect.showphone {
    display: none;
}

.advrec__info {
    margin-bottom: 5px;
}

.leftsb__search button {
    border: none;
    background-color: #fff;
    outline: none;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftsb__search button img {
    max-width: 70%;
    max-height: 70%;
}

.filter-section__price {
    padding: 10px 0 20px 0;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
}

.filter-section__price .title,
.filter-section__time .title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.filter-section__price .inpf {
    display: flex;
    flex-wrap: wrap;
}

.filter-section__price .inpf .inpf-inp {
    max-width: 160px;
    flex: 0 0 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-section__price .inpf .inpf-btn {
    max-width: calc(100% - 160px);
    /* flex: 0 0 calc(100% - 160px); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}


.filter-section__price .inpf .inpf-inp input {
    width: 77px;
    height: 20px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 300;
    font-size: 12px;
    color: #666666;
}

.filter-section__price .inpf .inpf-btn span {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    max-width: calc(100% - 20px);
    width: 100%;
    /* flex: 0 0 calc(100% - 20px); */
}

.filter-section__price .inpf .inpf-btn input[type="submit"] {
    padding: 0;
    height: 20px;
    outline: none;
    background: url('../images/1.svg') no-repeat;
    background-size: 100% 100%;
    border: none;
    margin-top: -2px;
    max-width: 20px;
    width: 100%;
    flex: 0 0 20px;
}

.filter-section__time {
    padding: 10px 0;
    border-bottom: 1px solid #C9C9C9;
}

.filter-section__region {
    padding: 10px 0;
}

.filter-section__time .title,
.filter-section__region .titlereg {
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.filter-section__time .title img,
.filter-section__region .titlereg img {
    width: 10px;
    margin-left: 2px;
}

.filter-section__time .title img.rotate,
.filter-section__region .titlereg img.rotate {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.check-section .check-field label {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.check-section .check-field label:after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #FF0000;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 3px;
}

.check-section .check-field label:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 15px;
    background-size: 100% 100%;
    background-image: url('../images/redcheck.svg');
    position: absolute;
    left: 5px;
    top: 2px;
    z-index: 2;
    display: none;
    background-repeat: no-repeat;
}

.check-section .check-field input[type="checkbox"]:checked+label:before {
    display: inline-block;
}

.check-section input[type="checkbox"] {
    display: none;
}

.check-section {
    display: none;
}

.rubrpage-wrapper {
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.subcheckdrop .subcheckdrop__less img,
.subcheckdrop .subcheckdrop__more img {
    width: 10px;
    margin-left: 2px;
}

.subcheckdrop .subcheckdrop__less {
    display: none;
}


.subcheckdrop {
    display: block !important;
    margin: 9px 0 0 0;
    color: #000000;
    font-size: 13px;
    line-height: 15px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.subcheckdrop .subcheckdrop__less img {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.rubrpage-wrapper .bredcrumbs ul li:last-child {
    color: #FF0000;
}

.rubrpage-wrapper .bredcrumbs {
    margin-bottom: 15px;
    padding-left: 15px;
}

.greybg {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}

.whitebg {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}

.sortsection p {
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.sortsection p select {
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

.rubrcont .title {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 5px 0;
}

.greybg.rubrcont .title {
    color: #FF0000;
}

.rubrcont .advrec-block:last-child {
    margin-bottom: 0;
}

.rubrcont .advrec-block {
    background-color: #fff;
    padding: 10px 10px 15px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
}

.advrec__bottsect-right {
    text-align: right;
}

.greybg.rubrcont .advrec-block .advrec__bottsect .advrec__bottsect-right a {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: #FF0000;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    width: 100%;
    padding-bottom: 2px;
}

.greybg.rubrcont .advrec-block .advrec__bottsect .advrec__bottsect-right a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 1;
}

.advrec-block .top {
    text-transform: uppercase;
    padding: 0 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FF0000;
    border: 1px solid #FF0000;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
    left: 4px;
    top: 20px;
}

.advrec-block {
    position: relative;
}

.rubrcont .general-piclink {
    display: block;
    margin-bottom: 20px;
}

.rubrcont .general-piclink img {
    width: 100%;
}

.full-description p:first-child {
    margin-bottom: 0;
}

.pagination {
    margin-top: 20px;
    display: block;
    text-align: center;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.pagination ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

.pagination ul li a {
    width: 30px;
    height: 30px;
    padding: 7px 4px;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #787878;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    display: inline-block;

}



.pagination ul li:first-child a img,
.pagination ul li:last-child a img {
    width: 100%;
}

.pagination ul li:first-child a {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    width: 12px;
    border: none;
    height: auto;
}

.pagination ul li:last-child a {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    width: 12px;
    border: none;
    height: auto;
}

.pagination ul li a:hover {
    border-color: #ff0000;
    color: #ff0000;
    font-weight: bold;
}

.pagination ul li:last-child a:hover,
.pagination ul li:first-child a:hover {
    opacity: .6;
}

.rubrcont .general-piclink img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    width: auto;
}


.leftsb__filterphonebtn span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.leftsb__filterphonebtn img {
    width: 10px;
    display: inline-block;
    vertical-align: middle;
}



.whitebg.rubrcont .advrec-block {
    box-shadow: none;
    border-bottom: 1px solid rgba(120, 120, 120, 0.4);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.whitebg.rubrcont .advrec-block {
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(120, 120, 120, 0.4);
}

.whitebg.rubrcont .advrec-block:hover {
    border: 1px solid #FF0000;
}

.leftsb__filterphonebtn {
    display: none;
}

.sortsection.dropdown.category-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.sortsection.dropdown.category-dropdown>a {
    display: inline-block;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    line-height: normal;
    color: #666666;
    text-decoration: none;
    margin-top: -1px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.sortsection p {
    margin: 0 8px 0 0;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.sortsection.dropdown.category-dropdown>a img {
    width: 10px;
    opacity: .6;
    vertical-align: middle;
    display: inline-block;
    margin-top: 1px;
}

.sortsection.dropdown.category-dropdown>a span {
    display: inline-block;
    vertical-align: middle;
}

.dropdown-menu {
    padding: 6px 10px;
    margin: 0;
}

.dropdown-menu li a {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    line-height: normal;
    color: #666666;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    display: block;
}

.dropdown-menu li a:hover,
.sortsection.dropdown.category-dropdown>a:hover {
    color: #FF0000;
}

.general-piclink.showphone {
    display: none;
}

.advrec-block__pic img {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.advrec-block:hover .advrec-block__pic img {
    transform: scale(1.05) rotate(2deg);
    -webkit-transform: scale(1.05) rotate(2deg);
    -moz-transform: scale(1.05) rotate(2deg);
    -ms-transform: scale(1.05) rotate(2deg);
    -o-transform: scale(1.05) rotate(2deg);
}

.advrec-block .top {
    z-index: 5;
}

.advrec__title:hover {
    text-decoration: none;
    color: #000;
}

/* fix */

header .submitanad {
    line-height: 40px;
}

.filter-section__price .inpf .inpf-btn {
    flex: 100%;
}

.leftsb__category ul li span img {
    width: 20px;
}

.leftsb__category ul li ul.submenu {
    list-style-type: none;
    padding: 0 0 0 30px;
    margin: 0;
    display: none;
}

.leftsb__category ul li ul.submenu>li {
    cursor: pointer;
    position: relative;
    margin-bottom: 2px;
}

.leftsb__category ul li ul.submenu>li p {
    margin: 0;
    font-size: 14px;
}

.leftsb__category ul li ul.submenu>li:last-child {
    margin-bottom: 0;
}

.leftsb__category ul li ul.submenu>li p:after {
    content: "";
    margin-left: 4px;
    display: inline-block;
    position: relative;
    width: 10px;
    height: 6px;
    background-image: url('../images/arrdown.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    vertical-align: middle;
}

.leftsb__category ul li ul.submenu>li .sublist {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
    display: none;
}

.leftsb__category ul li ul.submenu>li .sublist>li a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.leftsb__category ul li ul.submenu>li .sublist>li a:hover {
    color: #FF0000;
}

.leftsb__category ul li text {
    position: relative;
}

.leftsb__category ul li text:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 6px;
    background-image: url('../images/arrdown.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    left: 4px;
    vertical-align: middle;
    top: -1px;
}

.pagination ul li:first-child a,
.pagination ul li:last-child a {
    width: 20px;
}

.pagination ul li:first-child a img,
.pagination ul li:last-child a img {
    width: 14px;
}

/* font-family: gothic; 
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/