@media(max-width: 1199.8px) {
    .main-cities a {
        font-size: 15px;
        line-height: normal;
    }

    .main-cities a img {
        max-width: 20px;
    }

    .vitrynapage-wrapper {
        background-image: none;
    }

    .header__phone a {
        font-size: 14px;
        line-height: 16px;
    }

    .header__phone>img {
        max-width: 27px;
    }

    .header__sign {
        padding-right: 0;
        margin-bottom: 15px;
    }

    .header__enter {
        margin-right: 0px;
    }

    .header__menu ul li a {
        margin: 0 6px 0 0;
        font-size: 13px;
    }

    .header__menu ul li:last-child a {
        margin-right: 0;
    }

    .header__menu ul li:after {
        right: 1px;
    }

    .filter-section__price .inpf .inpf-inp {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

    .filter-section__price .inpf .inpf-btn {
        max-width: calc(100%);
        flex: 0 0 calc(100%);
    }

    .filter-section__price .inpf .inpf-inp input {
        width: 46%;
    }

}







@media(max-width: 991.8px) {
    .main__logo {
        margin-bottom: 30px;
    }

    .header__sign {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    header .linkpic {
        margin-bottom: 0;
    }

    .city-logo {
        margin-bottom: 0;
    }

    .logocitybox {
        display: flex;
        align-items: flex-end;
    }

    .header .submitanad {
        margin-top: 20px;
        font-size: 16px;
    }

    .header__menu {
        margin-top: 20px;
    }

    .header__menu ul li a {
        font-size: 11px;
    }

    .header__menu ul li:after {
        height: 24px;
        top: 2px;
    }

    .leftsb__category ul li text {
        line-height: 24px;
    }

    .leftsb__category ul li {
        margin-bottom: 8px;
    }

    .leftsb__category ul li a {
        align-items: flex-start;
    }

    .og-rightsect {
        display: none;
    }


    .og-rightsect.showphone {
        display: block;
    }

    .ogprod__small-descr {
        margin-bottom: 20px;
    }

    .rubrcont .advrec-block {
        display: block;
    }

    .rubrcont .advrec-block__pic {
        max-width: 120px;
        flex: 0 0 120px;
        height: 100px;
        margin-right: 10px;
        margin-bottom: 4px;
        float: left;
    }

    .rubrcont .advrec-block__descr {
        max-width: calc(100%);
        flex: 0 0 calc(100%);
        padding-left: 0;
    }









}

@media(max-width:767.8px) {
    .phone-hide {
        display: none;
    }

    .header__menu {
        display: none;
    }

    .header {
        padding: 45px 0 20px 0;
    }

    .header__reg img,
    .header__enter img {
        width: 20px;
    }

    .header__phone a {
        font-size: 13px;
    }

    .header__reg,
    .header__enter {
        font-size: 13px;
        line-height: 15px;
    }

    .header__reg {
        margin-right: 13px;
    }

    .header__sign {
        margin-bottom: 13px;
    }

    .header .submitanad {
        margin-top: 0;
    }

    .header .submitanad {
        min-height: 30px;
        font-size: 13px;
        line-height: 15px;
        max-width: 160px;
    }

    .header .col-lg-5.col-md-4.col-7 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
    }

    .burger-icon img {
        width: 100%;
    }

    .header__menu {
        position: absolute;
        background-color: #fff;
        left: 0;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
        width: 100%;
        text-align: left;
        margin: 0;
        top: 20px;
        padding: 5px 20px;
    }

    .header__menu ul li a span {
        display: inline-block;
    }

    .header__menu ul li a img,
    .header__menu ul li:after {
        display: none;
    }

    .header__menu ul li {
        display: block;
    }

    .header__menu ul li a {
        display: block;
        font-size: 14px;
        line-height: 35px;
        margin: 0;
        border-bottom: 1px solid #c9c9c9
    }

    .header__menu ul li:last-child a {
        border: none;
    }

    .leftsb__categoryphonebtn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        margin-bottom: 18px;
        background: #FFFFFF;
        border: 1px solid #666666;
        box-sizing: border-box;
        border-radius: 5px;
        cursor: pointer;
    }

    .leftsb__categoryphonebtn span {
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        line-height: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .leftsb__search {
        margin-bottom: 10px;
    }

    .vitrcont-text {
        padding-top: 0;
    }

    .vitrcontent p {
        font-size: 13px;
        line-height: 15px;
    }

    .header__phone {
        display: block;
    }

    .header__phone a {
        display: inline-block;
    }

    .footer p {
        margin-bottom: 0;
    }

    .bredcrumbs ul li a,
    .bredcrumbs ul li {
        font-size: 13px;
    }

    .slider-section .slider-for {
        margin-bottom: 10px;
    }

    .ogprod-title {
        font-size: 16px;
        margin: 0;
    }

    .ogprod-price {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 12px;
    }

    .ogprod-info {
        padding-bottom: 4px;
    }

    .ogprod__authorcont {
        padding: 15px 0;
        border-bottom: 1px solid rgba(120, 120, 120, 0.4);
    }

    .ogprod__authorcont>p {
        margin-bottom: 0;
    }

    .phonesbox ul li a {
        font-size: 13px;
        min-height: 20px;
        padding-left: 27px;
    }

    .phonesbox ul li a:after {
        width: 20px;
        height: 20px;
        top: 0;
    }

    .ogprod__authorcont-phones .socbox a img {
        width: 20px;
    }

    .ogprod__authorcont-phones {
        margin-bottom: 9px;
    }

    .ogprod__small-descr {
        padding-top: 16px;
        margin-bottom: 8px;
    }

    .ogprod__small-descr .title {
        font-size: 13px;
    }

    .ogprod__small-descr .descr,
    .full-description p {
        font-size: 13px;
        line-height: 18px;
    }

    .full-description p:first-child {
        margin-bottom: 0;
    }

    .full-description,
    .og-leftsect .general-piclink {
        margin-bottom: 20px;
    }

    .advert-recomended .title {
        font-size: 13px;
        line-height: 20px;
    }

    .advrec-block__pic {
        max-width: 120px;
        flex: 0 0 120px;
        height: 100px;
        margin-right: 10px;
        margin-bottom: 4px;
    }

    .advrec-block__descr {
        max-width: calc(100%);
        flex: 0 0 calc(100%);
        padding-left: 0;
    }

    .advrec-block {
        display: block;
    }

    .advrec-block__pic {
        float: left;
    }

    .advrec__title,
    .advrec__price {
        font-size: 15px;
    }

    .advrec__info-time span,
    .advrec__info-place span {
        font-size: 13px;
    }

    .advrec__bottsect-left {
        display: none;
    }

    .advrec__bottsect .advrec__bottsect-right {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: right;
    }

    .leftsb__category {
        display: none;
    }

    .header__phone>img,
    .leftsb .general-piclink,
    .vitrcont-text:after,
    .rightsb {
        display: none;
    }

    .leftsb__filterphonebtn {
        display: block;
        padding-top: 10px;
        border-top: 1px solid #C9C9C9;
    }

    .filter-section__price {
        border-top: none;
    }

    .filter-section__price .inpf .inpf-inp {
        max-width: 160px;
        flex: 0 0 160px;
        margin-bottom: 0;
    }

    .filter-section__price .inpf .inpf-btn {
        max-width: 85px;
        flex: 0 0 85px;
    }

    .rubrpage-wrapper .bredcrumbs {
        padding-left: 0;
    }

    .leftsb__filterphonebtn,
    .filter-section {
        display: none;
    }

    .leftsb__filterphonebtn {
        display: block;
    }

    .filter-section__time .title img,
    .filter-section__region .titlereg img,
    .leftsb__filterphonebtn img {
        margin-top: -2px;
    }

    .leftsb__filterphonebtn img.rotate {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }










}

@media(max-width: 575.8px) {
    .main-cities a:last-child {
        margin-bottom: 11px;
    }
}

@media(max-width: 375.8px) {
    .main-cities a:last-child {
        margin-bottom: 11px;
    }

    .header {
        padding: 25px 0 20px 0;
    }

    .header .submitanad {
        text-align: center;
    }

    .burger-icon {
        margin-left: 5px;
    }

    .pagination ul li {
        margin: 0;
    }
}